.container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    
}

.loginSection {
    width:60%;
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textContainer {
    margin-top: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formTitle {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bolder;
}
.formSubText {
    margin-top: 1rem;
    color: var(--darkgray-color);
    font-size: 20px;

}
.imageContainer {
    width : 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 6rem; */
}
.imageContainer img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.fieldContainer {
    display: flex;
    width: 80%;
    
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;

}
.fieldContainer input {
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: 0.3px solid var(--secondary-color);
    margin-bottom: 8px;
    font-size: 1rem;
    padding : 4px;
    color : var(--dark-blue);
    font-family: 'Comfortaa';
    font-weight: bold;
}
 
.inputLabel {
    color : var(--primary-color);
    font-size: 1rem;
    margin-bottom: 4px;
    font-weight: 600;
}
.forgotContainer {
    width: 400px;
    display: flex;
    justify-content: flex-end;
}
.forgotText {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    /* align-self: flex-start; */
    

}

.buttonContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 3rem;

}
.buttonContainer button {
    width: 100%;
    font-size: 20px;
    color : var(--gray-color);
    background-color: var(--black-color);
    border :0;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    color : #fff;
    font-family : 'comfortaa'
}

.buttonContainer p {
    color:  var(--primary-color);
    margin-top: 1.5rem;
    font-weight: 600;
}
.buttonContainer span {
    text-decoration: underline;
    margin-left: 4px;
    cursor: pointer;
    font-weight: bold;
    color: var(--dark-blue);
}